<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      ::-webkit-scrollbar {
        background-color: #151515;
        height: 4px;
        width: 4px;
        border-radius: 4px;
      }
      ::-webkit-scrollbar-thumb {
        background-color: #ead3a1;
        height: 50%;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
